<h2>Estadísticas</h2>
<br />
<br />
<div class="stastistics">
	<table class="stastistics">
		<thead>
			<tr>
				<th>Quizes Totales</th>
				<th>Comentarios Totales</th>
				<th>Media de comentarios por pregunta</th>
				<th>Preguntas sin comentarios</th>
				<th>Preguntas con comentarios</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= totalQuizes %></td>
				<td><%= totalComments %></td>
				<td><%= averageComments %></td>
				<td><%= quizesWithoutComments %></td>
				<td><%= quizesWithComments %></td>
			</tr>
		</tbody>
	</table>
</div>
